/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    
  /* Text */
  --dark-blue: hsl(238, 29%, 16%);
  --gray-blue: hsl(240, 6%, 50%);
  --dark-gray-blue: hsl(237, 12%, 33%);
  --red: hsl(14, 88%, 65%);

  /* Gradient */
  --violet: hsl(273, 75%, 66%);
  --blue: hsl(240, 73%, 65%);

  /* Dividers */
  --light-gray-blue: hsl(240, 5%, 91%);

  /* Font */
  --kumbh-sans: 'Kumbh Sans', sans-serif;

}

body {
  font-size: 12px;
  font-family: var(--kumbh-sans);
  font-weight: 400;
  min-height: 100vh;
  margin: 0;
  position: relative;

  background: var(--violet);
  background: linear-gradient(180deg, var(--violet) 0%, var(--blue) 100%);
}


/* Frontend Mentor */

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  color:var(--light-gray-blue);
  padding: .2em;
}

.attribution a {
  color: var(--light-gray-blue);
  text-decoration: underline;
}

.attribution a:hover {
  color: white;
  text-decoration: underline;
}

/* Challenge Styles */

.inset-shadow {
  box-shadow:  0 65px 40px -28px #00000050;
}